@using DashboardFinnhub.Models
@model Stock
<div class="card text-bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header text-bg-success fs-1">
        @ViewBag.Title
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Current Price: <p class="fst-italic">$</p>@Model.CurrentPrice</li>
        <li class="list-group-item">High price of the day: <p class="fst-italic">$</p>@Model.HighPriceoftheDay</li>
        <li class="list-group-item">Low price of the day: <p class="fst-italic">$</p>@Model.LowPriceoftheDay</li>
        <li class="list-group-item">Open: <p class="fst-italic">$</p>@Model.OpenPriceoftheDay</li>
    </ul>
</div>